.BodyError-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 90vw;
    height: 64vh;
  
  
  
    span {
      display: flex;
      align-items: center;
  
      color: #FF6060;
      font-size: 20vh;
    }
  
    h2 {
      color: #FF6060;
    }
  
    h3 {
      color: #FF6060;
      text-decoration: underline;
    }
  
  
  }